* {
    margin: 0;
    padding: 0;
    width: 1460;
    height: 5000;
    scroll-behavior: smooth;

}
body{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 4vh;
    line-height: 4vh;
    text-align: center;
}


#main{
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}
#pasfoto{
    width: 50%;
    height: auto; 
}
#sun{  
    /* padding-left: 30%; */
    max-width: 60vh;
    padding-top: 10vh;
}

#nama1{
    color: rgba(74, 233, 156, 1);
    margin-top: 1vh;
    text-align: center;
    font-size: 5vh;
}
#nama2{
    color:rgba(255, 153, 0,1);
    text-align: center;
    font-size: 5vh;
}
#kotakjudul{
    background:linear-gradient(to bottom, #ffffff 0%, #cff5f5 95%);
    padding: 5%;
}
#initial{
    width: 10vh;
    height: auto;
}
#nama{
    text-align: center;
    font-size: 5vh;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    color: #65889C;
    
}
#profile{
    background:linear-gradient(to bottom, #cff5f5 0%, #ffffff 95%);
    padding-bottom: 1vh;
    display: flex;
    justify-content: center;
}
#experience{
    background:linear-gradient(to bottom, #cff5f5 0%, #ffffff 10%);
    padding-bottom: 1vh;
    justify-content: center
}


#fotodandeskripsi{
    display: flex;
    justify-content: center;
}

#pasfoto{
    margin-left:35vh;
    width:50vh;
    height:50vh;
}
#deskripsi1{
    margin-left: 5vh;
    margin-top: 3vh;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 4vh;
    line-height: 4vh;
    text-align: center;
}
#pemisah1{
    margin-top: 5vh;
}

#org{
    
}
#judul{
    margin-left:15%;
    font-size: 5vh;
    padding-bottom: 5%;
}
#judul2{
    margin-right:15%;
    font-size: 5vh;
    padding-bottom: 5%;
}
#garis{
    border: 1px solid black;
    width: 60%; 
    margin-bottom: 5vh;
}

#logo{
    width: 25vh;
}
.tulisan{
    margin-top: 7vh;
    font-size: 4vh;
    line-height: 4vh;
}
.tanggal{
    margin-top: 7vh;
    font-size: 4vh;
    line-height: 4vh;
}
.tanggal2{
    margin-top: 7vh;
    font-size: 4vh;
    line-height: 4vh;
}
#backBawah{
    background:linear-gradient(to bottom, #ffffff 0%, #cff5f5 95%);
}
#ent{
    justify-content: center;
    background: #cff5f5;
}
#content{
    display: flex;
    background: linear-gradient(to bottom, #cff5f5 0%, #ffffff 95%);
    font-family: Raleway;
    font-size:3vh;
    margin-top: 5vh;
}
#film{
    max-width: 50%;
    margin-left: 36%;
}
#judulFilm{
    font-family: Raleway;
    font-size: 3vh; 
}
#abt{
    display: flex;
}
#kontak{
    display: flex;
    background: linear-gradient(to top, #cff5f5 0%, #ffffff 95%);
    justify-content: center;
}





