{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Watch Out</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-black bg-white fixed-top" id="mainNav">
                <div class="container">
                  <a class="navbar-brand js-scroll-trigger" href="#main"><img id="initial" src="{% static 'log.png' %}" alt="logo" class="img-responsive"></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#nama2">Profile</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#deskripsi1">Experience</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#ent">Entertaiment</a>
                        </li>
                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </header>


        <div  id="main">
            <img id="sun" src="{% static 'fadhil.svg' %}" alt="sun's getting really low" class="img-responsive">
        </div>
        <div id="kotakjudul">
            <p id="nama1">MY NAME IS <b>FADHIL,</b></p>
            <p id="nama2">TAKE A LOOK <b>INSIDE.</b></p>
        </div>


        <section id="profile">
            <div class="container">
                <div class="row">
                        <div id="prof" class="col-12">
                            <p id="nama"><b>FADHIL ILHAM<br>RAHMADI</b></p>
                        </div>
                            <div class="col-md-4 col-sm-12">
                                <img class="column" src="{% static 'fashil.png' %}" id="pasfoto" alt="pasfoto" style="margin-left:0vh;">
                            </div>
                            <div class="col-md-6 col-sm-12" >
                                <p id="deskripsi1">My name is Fadhil, and i went to CS UI.
                                I lived Jakarta with my parent.
                                I was born at September 4th, 1999.<br>
                                Packed with social skill to support 
                                my work ethics gained from handful organization 
                                and committe experience since high school.<br>
                                I am interested in movies and comics.</p>
                            </div>
                        
                </div>
            </div>
        </section>

        <div id="backBawah">
            <br>
            <br>
            <br>
        </div>

        <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-12">
                <p id="nama"><b>Experience</b></p>
                </div>
                <div class="col-12" id="pemisah1">
                    <div class="col-md-2 col-sm-12">
                    <p id="judul">Organization</p>
                    </div>
                    <div class="col-md-10 col-sm-12">
                    <hr id="garis">
                    </div>
                </div>
    
                <div class="col-12" id="org">
                    <div class="col-md-3 col-sm-12">
                    <img id="logo" src="{% static 'sist.png' %}">
                    </div>
                    <div class="col-md-6 col-sm-12">
                    <p class="tulisan"><b>Member of Entrepreneurship SIG<br>
                            SISTEM Fasilkom,</b><br>
                            Universitas Indonesia</p>
                    </div>
                    <div class="col-md-6 col-sm-6">
                    <p class="tanggal">March 2019</p>
                    </div>
                </div>
                <br>
                <div class="col-12" id="org">
                    <div class="col-md-3 col-sm-12">
                    <img id="logo" src="{% static 'sma8.jpg' %}">
                    </div>
                    <div class="col-md-6 col-sm-6">
                    <p class="tulisan"><b>Vice President for Internal Affairs of Student Council
                    </b><br>
                    SMA Negeri 8 Jakarta</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    <p class="tanggal">2016</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12"id="pemisah1">
                <p class="col-md-2" id="judul2">Comittee</p>
                <hr class="col-md-10" id="garis">
                </div>
                <div class="col-12" id="org">
                    <div class="col-md-3 col-sm-12">
                    <img id="logo" src="{% static 'cf.png' %}">
                    </div>
                    <div class="ccol-md-6 col-sm-6">
                    <p class="tulisan"><b>Staff of Direct Marketing
                    </b><br>
                    COMPFEST 11<br>Universitas Indonesia</p>
                    </div>
                    <div class="col-md-3 col-sm-6">
                    <p class="tanggal">March 2019 - ...</p>
                    </div>
                </div>
                <br>
                <div class="col-12" id="org">
                    <div class="col-md-3 col-sm-12">
                    <img id="logo" src="{% static 'pmb.png' %}">
                    </div>
                    <div class="col-md-6 col-sm-6">
                    <p class="tulisan"><b>Staff of Mentor</b><br>
                        PMB Fasilkom 2019<br>
                        Universitas Indonesia</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <p class="tanggal">May 2019 - ...</p>
                </div>
            </div>
            <br>
            <div class="col-12" id="org">
                <div class=" col-md-3 col-sm-12">
                    <img id="logo" src="{% static 'cgt.jpg' %}">
                </div>
                <div class="col-md-6 col-sm-6">
                    <p class="tulisan"><b>HR of Event</b><br>
                    The 26th Computers Get Together<br>
                    Universitas Indonesia</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <p class="tanggal">Jan 2019 - ...</p>
                </div>
            </div>  
        </div>
    </div>

            <div class="col-12"id="pemisah1">
                <div class="col-2">
                <p id="judul">Education</p>
                </div>
                <div class="col-10">
                <hr id="garis">
                </div>
            </div>
            <div class="col-12" id="org">
                <div class="col-md-3 col-sm-12">
                    <img id="logo" src="{% static 'ui.png' %}">
                </div>
                <div class="col-md-6 col-sm-6">
                    <p class="tulisan"><b>Information System Student</b><br>
                    Faculty of Computer Science<br>
                    Universitas Indonesia</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <p class="tanggal">August 2018 - ...</p>
                </div>
            </div>
            <br>

            <div class="col-12" id="org">
                <div class="col-md-3 col-sm-12">
                    <img id="logo" src="{% static 'sma8.jpg' %}">
                </div>
                <div class="col-md-6 col-sm-6">
                    <p class="tulisan"><b>Major of Science</b><br>
                    SMA Negeri 8 Jakarta</p>
                </div>
                <div class="col-md-3 col-sm-6">
                    <p class="tanggal2">July 2014 - July 2017</p>
                </div>
            </div>
            
        </section>
        <div id="backBawah">
                <br>
                <br>
                <br>
        </div>
        <section id="ent">
            <p id="nama"><b>Entertaiment</b></p>
        </div>
    <div id="content">
        <div class="col-md-4">
            <br>
            <img id="film" src="{% static 'movie.jpg' %}" alt="film" class="img-thumbnail">
        </div>
        <div id="col-md-4">
            <br>
            <p id="judulFilm"><b>MOVIE OF THE MONTH</b></p>
            <br>
            <p><b>THE PRESTIGE (2006)</b><br>
            film ini sangat seru dan menarik dan pantas dijadikan <br>
            film pilihan untuk bulan ini. Film ini berisi aktor<br>
            ternama dan juga digarap oleh sutradara terkenal.<br>
            Film ini dinilai tinggi oleh kritikus dan sangat <br>
            worth to wacth </p>
        </div>
    </section>
    <br>
    <br>
    <section id="about">
    <div class="col-12"id="abt">
            <p id="nama" style="margin-left:20vh">About</p>
        </div>
    <div id="kontak">
        <div class="col-md-6">
            <br>
            <a href="https://www.linkedin.com/in/fadhil-ilham-a12105180/"><img id="logo" src="{% static 'LinkedIn_logo_initials.png' %}" alt="film" ></a>
        </div>
        <div class="col-md-6">
                <a href="instagram.com/fadhilhmr"><img id="logo" src="{% static 'InstagramSecondary.png' %}" alt="film"></a>
        </div>
    </div>
</section>
    </body>